<strong>Olá, {{ student }}! Seja bem-vindo(a) à Gympoint!</strong>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor mensal: </strong> R$ {{ price }} reais <br />
  <strong>Data de término: </strong> {{ date }} <br />
</p>
