<strong>Olá, {{ student }}! Será um prazer ajudar!</strong>
<p>Segue abaixo a resposta de sua pergunta!</p>
<p>
  <strong>{{question}}</strong><br />
  {{ answer }}<br />
  <br />
  Se a dúvida persistir ou surgirem outras dúvidas, entre contato novamente!<br />
</p>
